Source: nfe
Priority: extra
Maintainer: Chris Keating <Chris.Keating@nordstrom.com>
Build-Depends: debhelper (>= 7.0.50~), javahelper (>=0.25)
Build-Depends-Indep: default-jdk
Standards-Version: 3.9.0
Section: utils

Package: nfe
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: Some Program
 You should probably write something else here
